.search-view

	.search-text
		margin-top: 50px
		text-align: center
		color: #657376

	.ngrs-join
		background-image: none
		background-color: #96cc51
		border: none

	.ngrs-range-slider
		border: none
		margin: 0

	.ngrs-range-slider:hover, .ngrs-range-slider:focus
		box-shadow: none
		outline: none
		border-color: #FFFFFF

	.options
		+flexbox
		+flex(1)
		+align-content(space-around)
		@media (max-width: 600px)
			+flex-direction(column)

		.option
			+flex(1)

			.icon
				width: 90%
				margin: 15px auto
				text-align: center

				span
					font-size: 100px
					color: #657376



	.dropdown
		position: relative
		width: 90%
		margin: 0px auto
		color: #FFFFFF
		-webkit-transform-style: preserve-3d
		-moz-transform-style: preserve-3d
		-ms-transform-style: preserve-3d
		transform-style: preserve-3d
		perspective: 1500

		&.flip
			.front
				-webkit-transform: rotateX(180deg)
				-moz-transform: rotateX(180deg)
				-ms-transform: rotateX(180deg)
				transform: rotateX(180deg)

			.back
				-webkit-transform: rotateX(0deg)
				-moz-transform: rotateX(0deg)
				-ms-transform: rotateX(0deg)
				transform: rotateX(0deg)

		span
			height: inherit
			margin-left: 40px
			line-height: 60px
			font-size: 16px

		.front, .back
			-webkit-transition: all 0.5s cubic-bezier(.11,1.61,.69,.64)
			-moz-transition: all 0.5s cubic-bezier(.11,1.61,.69,.64)
			-ms-transition: all 0.5s cubic-bezier(.11,1.61,.69,.64)
			transition: all 0.5s cubic-bezier(.11,1.61,.69,.64)

		.front
			height: 60px
			width: 100%
			background-color: #A0D468 //#96cc51
			-webkit-backface-visibility: hidden
			-moz-backface-visibility: hidden
			-ms-backface-visibility: hidden
			backface-visibility: hidden
			cursor: pointer
			border-radius: 2px
			box-shadow: 0 3px 0 rgba(0,0,0,0.1)

			&:after
				content: ""
				position: absolute
				top: 28px
				right: 20px
				width: 0
				height: 0
				border-left: 5px solid transparent
				border-right: 5px solid transparent
				border-top: 5px solid #FFFFFF

			&:hover
				background-color: #8CC152 //#89bc4b

		.back
			-webkit-transform: rotateX(180deg)
			-moz-transform: rotateX(180deg)
			-ms-transform: rotateX(180deg)
			transform: rotateX(180deg)
			-webkit-backface-visibility: hidden
			-moz-backface-visibility: hidden
			-ms-backface-visibility: hidden
			backface-visibility: hidden


		ul
			position: absolute
			top: -120px
			z-index: 1
			width: 100%
			padding: 20px
			background-color: #fff
			box-shadow: 0px 3px 8px rgba(0,0,0,.25)
			list-style: none

			li
				color: #657376
				line-height: 30px
				cursor: pointer
				padding-left: 20px

			&:hover
				color: #325ec7

	.search
		+flexbox
		+flex(1)
		+align-content(space-around)

		.btn-search
			margin: 50px auto
			height: 60px
			width: 28%
			background-color: #FFCE54
			cursor: pointer
			border-radius: 2px
			color: #FFFFFF
			text-align: center
			line-height: 60px
			box-shadow: 0 3px 0 rgba(0,0,0,0.1)

		.btn-search:hover, .btn-search:focus
			background-color: #FCBB42


.results-view
	width: 100%
	height: 100%
	color: #647376

	.result
		height: 105px
		margin-bottom: 15px
		background-color: #ffffff
		padding: 0px
		box-shadow: 0 3px 0 rgba(0,0,0,0.1)
		+flexbox

		.result-image
			width: 140px
			height: 105px
			@media (max-width: 479px)
				display: none
			height: 100%
			padding: 0px
			overflow: hidden

			img
				height: 100%
				min-width: 100%
				background-color: red
				left: 0
				top: 0px

		.result-content
			+flex(6)
			@media (max-width: 479px)
				+flex(6)
			height: 100%
			padding: 0px

		.result-price
			+flex(3)
			@media (max-width: 479px)
				+flex(4)
			text-align: center
			margin: 0px
			padding: 0px
			border-left: solid 1px #e3e7ea

			.price
				margin: 15 px 10px
				font-size: 18px
				display: block

			.btn-more
				width: calc(100% - 20px)
				background-color: #96cc52
				color: white
				border-radius: 2px
				border: none
				letter-spacing: 1px
				font-weight: 300
				font-size: 18px
				line-height: 28px

			.btn-more:hover, .btn-more:focus
				outline: none
