.options
	position: absolute
	width: 100%
	top: 12%
	left: 50%
	margin-top: 130px
	-webkit-transform: translateX(-50%)
	-moz-transform: translateX(-50%)
	-ms-transform: translateX(-50%)
	transform: translateX(-50%)

.btn-option
	background-color: #259b24
	color: white
	border: none
	font-weight: 700
	text-transform: uppercase
	margin: 10px 0 20px
	padding: 0px 20px
	line-height: 50px
	height: 50px
	letter-spacing: 1px
	width: 100%
	cursor: pointer
	display: block
	//box-shadow: 0 3px 0 rgba(0,0,0,0.1)
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.btn-option:hover, .btn-option:focus
	color: white
	outline: none
