@import '../../manage/assets/sass/base'

.view
	width: 100%
	position: fixed
	top: 50px
	bottom: 0px

@import 'src/front/front'
@import 'src/items_add/items_add'
@import 'src/items_edit/items_edit'
@import 'src/items/items'