@import '../../manage/assets/sass/base'

.view
	width: 100%
	height: 100%

button
	padding: 10px
	background-color: transparent
	border-radius: 0px
	border: Solid 1px #505050

button:hover
	background-color: #505050
	color: #ffffff

button:focus, input:focus, select:focus, textarea:focus
	outline: none


@import 'src/front/front'
@import 'src/words_add/words_add'
@import 'src/words_edit/words_edit'
@import 'src/requests/requests'