<div growl></div>

<div class="add-view" >
    <div class="row add-row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>Instrucciones</h1>

            <p>
                Favor de agregar por lo menos una foto por cada nuevo articulo. Para una major resolucion se recomienda que los fotos sean de 512 x 512 pixeles.

            </p>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <form role="form">
            <div class="form-group">
                <label for="itemModel">Modelo</label>
                <input type="text" ng-model="addItem.model" ng-disabled="disableInputs" class="form-control" id="itemModel" placeholder="Modelo del articulo">
            </div>

            <div class="form-group">
                <label for="itemType">Tipo</label>
                <input type="text" ng-model="addItem.type" ng-disabled="disableInputs" class="form-control" id="itemType" placeholder="Tipo de articulo">
            </div>

            <div class="form-group">
                <label for="itemPrice">Precio</label>
                <input type="text" ng-model="addItem.price" ng-disabled="disableInputs" class="form-control" id="itemPrice" placeholder="Precio del articulo" value="editItem.item.price|currency">
            </div>

            <div class="form-group">
                <label for="itemBrand">Marca</label>
                <input type="text" ng-model="addItem.brand" ng-disabled="disableInputs" class="form-control" id="itemBrand" placeholder="Marca del articulo">
            </div>

            <div class="form-group">
                <label for="itemDescription">Descripción</label>
                <textarea id="itemDescription" ng-model="addItem.description" ng-disabled="disableInputs" class="form-control" rows="5" placeholder="Descripción del articulo">

                </textarea>
            </div>

            <div class="form-group" ng-show="addItem.images.length">
                <div class="row">
                    <div class="col-xs-3" ng-repeat="image in addItem.images track by $index">
                        <img ng-src="{{ image.url }}" alt="Foto de articulo" class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="form-group" >
                <label for="addImage">Agregar Foto</label>
                <input type="file" id="addImage" class="" ng-file-select="onSelectFile($files, $resp)">
			</div>

            <button type="submit" class="btn btn-default pull-right" ng-click="saveItem()" ng-disabled="disableInputs">
                Guardar
            </button>
        </form>
    </div>
</div>