<div growl></div>

<div class="add-view">
    <div class="row add-row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h1>Instructions</h1>

            <p>
                Please add at least one picture per automobile. For best resolution, use pictures 640px
                wide by 427px tall.
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 add-table">
        <form role="form" id="form" name="form">
            <div class="form-group">
                <label for="itemModel">Model</label>
                <input type="text" ng-model="addCar.model" ng-disabled="disableInputs" class="form-control"
                       id="itemModel" placeholder="Automobile model" ng-minlength="2" ng-required="true">
            </div>

            <div class="form-group">
                <label for="itemBrand">Brand</label>
                <input type="text" ng-model="addCar.brand" ng-disabled="disableInputs" class="form-control"
                       id="itemBrand" placeholder="Automobile brand" ng-minlength="2" ng-required="true">
            </div>

            <div class="form-group">
                <label for="itemType">Type</label>
                <select id="itemType" ng-model="addCar.type" class="form-control" ng-required="true">
                    <option value="Coupe">Coupe</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Minivan">Minivan</option>
                    <option value="Pickup">Pickup</option>
                    <option value="Sedan">Sedan</option>
                    <option value="Suv">SUV</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemCylinders">Cylinders</label>
                <select id="itemCylinders" ng-model="addCar.cylinders" class="form-control" ng-required="true">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemEngine">Engine</label>
                <select id="itemEngine" ng-model="addCar.engine" class="form-control" ng-required="true">
                    <option value="1.5">1.5</option>
                    <option value="1.6">1.6</option>
                    <option value="1.8">1.8</option>
                    <option value="2.0">2.0</option>
                    <option value="2.1">2.1</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="3.2">3.2</option>
                    <option value="3.5">3.5</option>
                    <option value="4.0">4.0</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemPrice">Price</label>
                <input type="text" ng-model="addCar.price" class="form-control"
                       id="itemPrice" placeholder="Automobile price" ng-minlength="5" ng-pattern="/^[0-9]+$/"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label for="itemPower">Power</label>
                <input type="text" ng-model="addCar.power" class="form-control"
                       id="itemPower" placeholder="Automobile power" ng-minlength="3" ng-pattern="/^[0-9]+$/"
                       ng-required="true">
            </div>

            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="addCar.airbags"> Airbags
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="addCar.sunroof"> Sunroof
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="addCar.airBreaks"> Air breaks
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="addCar.gps"> GPS
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="addCar.blueTooth"> Bluetooth
                </label>
            </div>

            <div class="form-group">
                <label for="itemDescription">Description</label>
                <textarea id="itemDescription" ng-model="addCar.description"
                          class="form-control" rows="5" placeholder="Automobile description"
                          ng-required="true"></textarea>
            </div>

            <div class="form-group" ng-show="addCar.images.length">
                <div class="row">
                    <div class="col-xs-3" ng-repeat="image in addCar.images track by $index">
                        <img ng-src="{{ image.url }}" alt="Car's picture" class="img-responsive">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="addImage">Add picture</label>
                <input type="file" id="addImage" class="" ng-file-select="onSelectFile($files, $resp)">
            </div>

            <button type="submit" class="btn btn-default pull-right" ng-click="saveCar()"
                    ng-disabled="form.$invalid || !addCar.images.length">
                Save
            </button>
        </form>
    </div>
</div>