@import '../../manage/assets/sass/base'

.view
	width: 100%
	height: 100%
	background-color: #f1f2f6

@import 'src/front/front'
@import 'src/results/results'
@import 'src/search/search'
@import 'src/details/details'