@import '../../manage/assets/sass/base'

body
	background-color: $light-gray

.view
	width: 100%
	height: 100%
	overflow-y: auto


@import 'src/front/front'
@import 'src/results/results'
@import 'src/search/search'
@import 'src/details/details'