<div growl></div>

<div class="search-view" ng-hide="editView">
    <div class="row items-search">
        <form class="form-inline col-xs-12 col-md-8 col-md-offset-2" role="form">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Busqueda</div>
                    <input class="form-control" type="text" ng-model="searcText" placeholder="vehiculo ...">
                </div>
            </div>
        </form>
    </div>

    <div class="row items-container">
        <div class="table-responsive table-items col-xs-12 col-md-8 col-md-offset-2">
            <table class="table table-hover table-bordered">
                <thead class="items-table-head">
                <tr ng-init="predicate='created'" >
                    <th ng-click="predicate = 'model'; reverse=!reverse" >Modelo</th>
                    <th ng-click="predicate = 'type'; reverse=!reverse" >Tipo</th>
                    <th ng-click="predicate = 'price'; reverse=!reverse" >Precio</th>
                    <th ng-click="predicate = 'brand'; reverse=!reverse" >Marca</th>
                    <th ng-click="predicate = 'created'; reverse=!reverse" class="no-small-screen">Creado</th>
                </tr>
                </thead>

                <tbody class="items-table-body">
                <tr ng-repeat="car in cars | filter:searcText | orderBy:predicate:reverse" ng-click="setEditCar(car)">
                    <td>{{ car.model }}</td>
                    <td>{{ car.type }}</td>
                    <td>$ {{ car.price | number }}</td>
                    <td>{{ car.brand }}</td>
                    <td class="no-small-screen">{{ car.created }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="edit-view" ng-show="editView">
    <div class="row edit-btn-row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <button type="button" class="btn btn-default" ng-click="hideDetails()"> Ver todos los vehiculos</button>

            <button type="button" class="btn btn-default pull-right" ng-click="disableInputs = !disableInputs">Editar
            </button>
        </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 form-edit">
        <form role="form" class="">
            <div class="form-group">
                <label for="itemModel">Modelo</label>
                <input type="text" ng-model="editCar.car.model" ng-disabled="disableInputs" class="form-control"
                       id="itemModel" placeholder="Modelo del vehiculo">
            </div>

            <div class="form-group">
                <label for="itemBrand">Marca</label>
                <input type="text" ng-model="editCar.car.brand" ng-disabled="disableInputs" class="form-control"
                       id="itemBrand" placeholder="Marca del vehiculo">
            </div>

            <div class="form-group">
                <label for="itemType">Tipo</label>
                <select id="itemType" ng-model="editCar.car.type" ng-disabled="disableInputs" class="form-control">
                    <option>Coupe</option>
                    <option>Hatchback</option>
                    <option>Minivan</option>
                    <option>Pickup</option>
                    <option>Sedan</option>
                    <option>SUV</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemCylinders">Cilindraje</label>
                <select id="itemCylinders" ng-model="editCar.car.cylinders"  ng-disabled="disableInputs" class="form-control">
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemEngine">Motor</label>
                <select id="itemEngine" ng-model="editCar.car.engine"  ng-disabled="disableInputs" class="form-control">
                    <option value="1.5">1.5</option>
                    <option value="1.6">1.6</option>
                    <option value="1.8">1.8</option>
                    <option value="2.0">2.0</option>
                    <option value="2.1">2.1</option>
                    <option value="2.5">2.5</option>
                    <option value="3.0">3.0</option>
                    <option value="3.2">3.2</option>
                    <option value="3.5">3.5</option>
                    <option value="4.0">4.0</option>
                </select>
            </div>

            <div class="form-group">
                <label for="itemPrice">Precio</label>
                <input type="text" ng-model="editCar.car.price" ng-disabled="disableInputs" class="form-control"
                       id="itemPrice" placeholder="Precio del vehiculo" value="editCar.car.price|currency">
            </div>

            <div class="form-group">
                <label for="itemPower">Potencia</label>
                <input type="text" ng-model="editCar.car.power" ng-disabled="disableInputs" class="form-control"
                       id="itemPower" placeholder="Potencia del vehiculo" >
            </div>

            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="editCar.car.airbags"  ng-disabled="disableInputs" > Bolsas de aire
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="editCar.car.sunroof"  ng-disabled="disableInputs" > Quemacocos
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="editCar.car.airBreaks" ng-disabled="disableInputs" > Frenos de aire
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="editCar.car.gps" ng-disabled="disableInputs" > GPS
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="editCar.carblueTooth"  ng-disabled="disableInputs" > Manos libres
                </label>
            </div>

            <div class="form-group">
                <label for="itemDescription">Descripción</label>
                <textarea id="itemDescription" ng-model="editCar.car.description" ng-disabled="disableInputs"
                          class="form-control" rows="5" placeholder="Descripción del vehiculo">

                </textarea>
            </div>

            <div class="form-group" ng-show="editCar.car.images.length">
                <div class="row">
                    <div class="col-xs-3" ng-repeat="image in editCar.car.images track by $index">
                        <img ng-src="{{ image.url }}" alt="Foto de articulo" class="img-responsive">
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default pull-right" ng-click="saveCar()" ng-disabled="disableInputs">
                Guardar
            </button>

            <button type="submit" class="btn btn-danger pull-right" ng-click="deleteCar()" ng-disabled="disableInputs">
                Delete
            </button>
        </form>
    </div>
</div>