<nav>
    <input type="text" ng-model="searchText"/>
    <select name="" ></select>
    <select name="" ></select>
    <button>clear</button>
</nav>
<div id="requests-container" ng-cloak>
    <div class="requests-table">
        <div class="table-header">
            <div class="header-item">Tipo</div>
            <div class="header-item">Estatus</div>
            <div class="header-item">Email enviado</div>
            <div class="header-item">Revisado</div>
            <div class="header-item">Fecha de creació</div>
        </div>
        <div class="table-body" >
            <div class="table-row" ng-repeat="request in requests | filter:searchText track by request.id" ng-click="setEditWord(request)" >
                <div class="row-item">{{ request.type }}</div>
                <div class="row-item">{{ request.status }}</div>
                <div class="row-item">{{ request.email_back }}</div>
                <div class="row-item">{{ request.reviewed_by }}</div>
                <div class="row-item">{{ request.created }}</div>
            </div>
        </div>
    </div>
    <div class="word-details" ng-show="showdetails">
        <div class="details-buttons">
            <button ng-click="hideDetails()">
                Ocultar Detalles
            </button>
            <button ng-click="enableEdit()">
                Editar Petición
            </button>
        </div>
        <div ui-view="details"  class="details">

        </div>

    </div>

</div>