<div class="word-form">
    <div class="form-item" >
        <label for="name">Nombre</label>
        <input name="name" id="name" type="text" ng-model="wordService.word.name"/>
    </div>

    <div class="form-item" >
        <label for="type">Tipo</label>
        <input name="type" type="text" ng-model="wordService.word.type" ng-disabled="disableEdit"/>
        <label for="vulgar">Vulgar</label>
        <input name="vulgar" type="checkbox" ng-model="wordService.word.vulgar" ng-disabled="disableEdit"/>
    </div>

    <div class="form-item" >
        <label for="definition">Definición</label>
        <textarea name="definition" rows="5" ng-model="wordService.word.definition" ng-disabled="disableEdit"></textarea>
    </div>

    <div class="form-item" >
        <label for="origin">Origen</label>
        <textarea name="origin" rows="7" ng-model="wordService.word.origin" ng-disabled="disableEdit"></textarea>
    </div>

    <div class="form-item repeat" ng-repeat="example in wordService.word.examples track by $index">
        <label for="example">Ejemplo</label>
        <div class="example">
            <textarea name="content" rows="2" class="example-item" placeholder="Contenido" ng-model="example.content" ng-disabled="disableEdit"></textarea>
            <textarea name="meaning"  rows="2" class="example-item" placeholder="Significado" ng-model="example.meaning" ng-disabled="disableEdit"></textarea>
        </div>
        <button ng-click="removeExample($index)" ng-disabled="disableEdit">
            Borrar
        </button>
    </div>

    <div class="form-item">
        <div class="form-item-2" >
            <div class="column repeat" ng-repeat="country in wordService.word.countries track by $index">
                <label for="country">Pais</label>
                <input name="country" type="text" class="country" ng-model="wordService.word.countries[$index]" ng-disabled="disableEdit"/>
                <button ng-click="removeCountry($index)" ng-disabled="disableEdit">
                    Borrar
                </button>
            </div>
        </div>
        <div class="form-item-2">
            <div class="column repeat" ng-repeat="tag in wordService.word.tags track by $index">
                <label for="tag">Etiqueta</label>
                <input name="tag" type="text" class="tag" ng-model="wordService.word.tags[$index]" ng-disabled="disableEdit"/>
                <button ng-click="removeTag($index)" ng-disabled="disableEdit">
                    Borrar
                </button>
            </div>
        </div>
    </div>

    <div class="form-buttons">
        <button  ng-click="addExample()" ng-disabled="disableEdit">
            + Ejemplo
        </button>
        <button ng-click="addCountry()" ng-disabled="disableEdit">
            + País
        </button>
        <button ng-click="addTag()" ng-disabled="disableEdit">
            + Etiqueta
        </button>
        <button ng-click="saveWord(word)" ng-disabled="disableEdit">
            Agregar Palabra
        </button>
    </div>
</div>