<div class="details-view">
    <div class="view-header">
        <!--<a ui-sref="results()">-->
        <a ui-sref="search.results"><span class="bnt-return"></span></a>
        <!--</a>-->
    </div>
    <div class="item-details">
        <div class="carousel">
            <input type="radio" name="item" ng-repeat-start="image in item.images track by $index " value="{{ $index }}"
                   ng-checked="$first">

            <div ng-repeat-end>
                <img ng-src="{{ image.url }}">
            </div>
        </div>
        <article class="details-content">
            <h1>{{ item.model }}</h1>

            <div class="content">
                <div class="column">
                    <p class="property">
                        <span class="name">Brand: </span>
                        <span class="value">{{ item.brand }}</span>
                    </p>

                    <p class="property">
                        <span class="name">Type: </span>
                        <span class="value">{{ item.type }}</span>
                    </p>

                    <p class="property">
                        <span class="name">Cylinders: </span>
                        <span class="value">{{ item.cylinders }} Cilindros</span>
                    </p>

                    <p class="property">
                        <span class="name">Engine: </span>
                        <span class="value">{{ item.engine }}</span>
                    </p>

                    <p class="property">
                        <span class="name">Power: </span>
                        <span class="value">{{ item.power }} hp</span>
                    </p>

                    <p class="property">
                        <span class="name">Price: </span>
                        <span class="value"> ${{ item.price | number:0 }}</span>
                    </p>
                </div>

                <div class="column">
                    <p class="property name">Description:</p>

                    <p class="property value">{{ item.description}}</p>
                </div>
            </div>

            <div class="features">
                <span class="ion-cloud" ng-if="item.airbags"></span>
                <span class="ion-paper-airplane" ng-if="item.sunroof"></span>
                <span class="ion-disc" ng-if="item.airBreaks"></span>
                <span class="ion-location" ng-if="item.gps"></span>
                <span class="ion-bluetooth" ng-if="item.blueTooth"></span>
            </div>
        </article>
    </div>
</div>

<footer class="footer">
    <div class="container">
        Copyright © 2014. All rights reserved. <span class="author">Created by <a href="http://www.hectorjimenez.me">Hector Jimemez</a></span>
    </div>
</footer>